.header {
    width: 100%;
    padding: 60px 20px;
    background: linear-gradient(135deg, #14b2fb, #00b7ff);
    color: white;
    text-align: center;
    border-bottom: 10px solid rgb(0, 170, 255);
}

.header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.header p {
    font-size: 20px;
    margin-bottom: 20px;
}

.school-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.school-icons img {
    width: 70px;
    height: 70px;
    transition: 0.3s;
}

.school-icons img:hover {
    transform: scale(1.1);
}