.app {
  width: 100%;
  min-height: 100vh;
  background: #e6f0ff;
  background-image: url('/src/assets/1640695141_2-abrakadabra-fun-p-neonovie-kirpichi-fon-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.go-btn,
.back-btn {
  background: #0066ff;
  padding: 10px 18px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

.go-btn:hover,
.back-btn:hover {
  background: #045fe8;
}